<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trainee</h1>
    <div>
        <a href="/trainee/add">lms</a>
        <a href="/trainee/view">community</a>
    </div>
</body>
</html>